<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamVR_OculusDash_Switcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteamVR_OculusDash_Switcher.Properties.Settings>
            <setting name="OneClickMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamVRDisablingMethod" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="RealismLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SteamVR_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Oculus_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="KillSteamVR_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KillOculusDash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlackMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Current_SteamVRDisablingMethod" serializeAs="String">
                <value>None</value>
            </setting>
        </SteamVR_OculusDash_Switcher.Properties.Settings>
    </userSettings>
</configuration>